com.smartitengineering.emailq.domains.workspaceId.namespace=${smart.email.queue.workspaceId.namespace}
com.smartitengineering.emailq.domains.workspaceId.name=${smart.email.queue.workspaceId.name}
com.smartitengineering.emailq.domains.namespace=${smart.email.queue.contentType.email.namespace}

