com.smartitengineering.email.queue.domains.workspaceId.namespace=${smart.email.queue.workspaceId.namespace}
com.smartitengineering.email.queue.domains.workspaceId.name=${smart.email.queue.workspaceId.name}
com.smartitengineering.email.queue.domains.report.namespace=${smart.email.queue.contentType.email.namespace}

